@use '../base';

.body{
    padding-top: 106px;
    padding-left: 97px;

    & div {
        width: 100%;
    }

    .headWrapper{
        width: 100%;
    }


    .imgWrapperChild {
        width:50%;
        padding-top: 90px;
    }


    .wrapperImage{
        margin-left : -30px;
    }

    .baseInputWrapper{
        margin-top: 70px;
    }

    .baseButtonWrapper{
        margin-top: 30px;
    }

    .welcomeHeader{
        font-size: 40px;
        font-weight:700;
        color: #213F7D;
    }

    .welcomeHeaderMin{
        font-size: 20px;
        margin-top: 10px;
        color: #545F7D;
    }
    .baseInput {
        margin-top: 30px;
    }

    .forgotpass{
        color: base.$primary-color;
        font-size: 12px;
        margin-top: 25px;
    }  
    
}

.flexwrapper {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    margin-top: 50px;
    overflow: hidden;
}

.formWrapperChild {
    width:50%;
    padding-left: 60px;
    
}



@media (max-width: 999px){
    .imgWrapperChild{
        display: none;
    }

    .body{
        padding: 40px;
    }

    .flexwrapper {
        display: block;

    }

    .baseInput{
        width: 100%;
    }
    

    .formWrapperChild {
        width:400px;
        padding: 0px;
        
    }
}

