@use "../../base";

*{
    box-sizing: border-box;
}

.users_container_wrapper{
    padding: 60px;

    .user_header{
        font-size: 24px;
        color: base.$primary-font-color;
        font-weight: 500;
    }

    .users_cards_wrapper{
        display: flex;
        gap:25px;
        justify-content: space-between;
        margin-top: 40px;
    }

    .users_card_item{
        width: 240px;
        height: 160px;
        padding: 20px 0px 0px 30px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 5px rgba(242, 240, 240, 0.601);

        .user_card_title{
            font-size: 14px;
            font-weight: 500;
            margin-top: 14px;
            color: base.$secondary-font-color;
        }

        .user_card_value{
            font-size: 24px;
            margin-top: 12px;
            color: base.$primary-font-color;
            font-weight: 600;
        }
    }

    .users_table_wrapper{
        background-color: white;
        border-radius: 5px;
        padding: 30px;
        min-height: 500px;
        width: full;
        margin-top: 40px;
        box-shadow: 5px 5px 10px 5px rgba(242, 240, 240, 0.601);

        .users_table_headers_wrapper{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-direction: row;
            gap:15px;

            .users_table_header_wrapper{
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                flex-direction: row;
                gap:10px;
                text-align: left;
                width: 19%;
                word-wrap: break-word;
                
                .users_table_header_text{
                    color: base.$primary-font-color;
                    font-size: 12px;
                    font-weight: 600;
                    word-wrap:break-word;
                    overflow: auto;
                }

                .users_table_header_icon{
                    padding-top: 3px;
                    cursor:pointer;
                }
            }

            
        }

        .sidebar_item_wrapper{
            cursor: pointer;
        }

        .users_table_items_wrapper{
            margin-top: 10px;
            word-wrap: break-word;
            overflow: auto;
            width: 100%;

            .users_table_item_wrapper{
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                gap:15px;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #213F7D1A;


                &:last-child{
                    border-bottom: 0px;
                }

                .users_table_item{
                    width: 19%;
                    font-size: 14px;
                    color: #545f7d;
                    word-wrap: break-word;
                    overflow:auto;

                    
                 

                    .users_table_item_status{
                        padding: 4px 15px 3px 15px;
                        text-align: center;
                        border-radius: 20px;
                        width: fit-content;
                        background-color: #e9b30016;
                        color:#E9B200;
                        margin-top: 0px;
                        height: 30px;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .users_table_item_active{
                        color: #39CD62;
                        background-color: #39cd6310;
                    }

                    .users_table_item_pending{
                        color: #E9B200;
                        background-color: #E9B20010;
                    }

                    .users_table_item_inactive{
                        color: #545F7D;
                        background-color: #545F7D10;
                    }

                    .users_table_item_blacklisted{
                        color: #E4033B;
                        background-color: #E4033B10;
                    }


                }

                .users_table_item_status_wrapper{
                    display: flex;
                    justify-content: space-between;
                }

                .users_table_popover{
                    width: 380px;
                    padding: 22px;

                    .users_table_popover_item{
                        display: flex;
                        justify-content: flex-start;
                        gap:10px;
                    }
                }

                
            }
        }

    }

    .pagination_wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;



        .pagination_left_section{
            display: flex;
            gap:10px;

            .pagination_left_section_text{
                color: base.$primary-font-color;
                margin-top: 3px;
                font-size: 14px;

            }

            & select{
                background-color: #213F7D1A;
                width:80px;
                height: 30px;
                padding:5px;
                border-radius: 5px;
            }
            
            & select::backdrop {
                background-color: red;
            }
        }

        .pagination_right_section{
            display: flex;
            gap:15px;

            .pagination_right_section_arrow{
                width: 24px;
                height: 24px;
                text-align: center;
                border-radius: 3px;
                padding-top: 6px;
                padding-left: 8px;
                background-color: #213F7D1A;
                cursor: pointer;
            }

            .pagination_right_section_pages{
                font-size: 16px;
                font-weight: 400;
                color:#545f7d3c;
                cursor: pointer;
            }

            .pagination_right_section_current_page{
                color:#545F7D;
                font-weight: 500;
            }
        }


    }

    .MuiPopover-root{
        background-color: purple;
        font-size: 30px;
    }

    
}

.user_details_wrapper{
    padding : 60px;

    .back_wrapper{
        display: flex;
        gap:15px;
    }

    .header_wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 32px;

        .header_left{
            font-size: 24px;
            font-weight: 500;
            color: base.$primary-font-color;
        }

        .header_right_wrapper{
            display: flex;
            gap:20px;
        }
    }

    .profile_card_wrapper{
        padding: 30px 30px 0px 30px;
        min-height: 210px;
        background-color: white;
        border-radius: 5px;
        margin-top:30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .profile_upper{
            display: flex;
            justify-content: flex-start;
            gap: 30px;

            .profile_upper_first{
                display: flex;
                gap:20px;

                .profile_avatar_img{
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                }

                .profile_upper_avatar_text{
                    margin-top: 22px;

                    & p:nth-child(1){
                        font-size: 22px;
                        font-weight: 500;
                        color: base.$primary-font-color;
                    }
                    & p:nth-child(2) {
                        font-size: 14px;
                        margin-top:6px;
                        color: base.$secondary-font-color
                    }
                }

            }

            .profile_upper_divider{
                height: 80px;
                border-left: 1px solid base.$secondary-font-color;
                opacity: 0.2;
                margin-top: 10px;
            }

            .profile_upper_usertier{
                padding-top:23px;

                .profile_upper_usertier_stars_wrapper{
                    display: flex;
                    gap:7px;
                    color:#E9B200;
                    margin-top: 12px;
                }

                p{
                    color: base.$primary-font-color;
                    font-size:14px;
                }
            }

            .profile_upper_wallet{
                padding-top: 20px;

                & p:nth-child(1){
                    font-size: 22px;
                    font-weight: 500;
                    color: base.$primary-font-color;
                }

                & p:nth-child(2){
                    font-size: 12px;
                    margin-top: 10px;
                    color: base.$primary-font-color;
                }
            }
        }

        .profile_lower{
            display: flex;
            justify-content: space-between;
            gap: 15px;

            & div{
                width: 170px;;
                text-align: center;
                cursor: pointer;
                padding-bottom: 8px;
            }

            .profile_lower_active{
                border-bottom: 2px solid base.$primary-color;
                color: base.$primary-color;
            }
        }
    }

    .content_card_wrapper{
        background-color: white;
        border-radius: 5px;
        margin-top:30px;
    }

}

@media (max-width: 999px) {

    .users_container_wrapper{
        padding: 30px;

        .users_table_wrapper{
            overflow: auto;

            .users_table_inner_wrapper{
                width: 700px;
            }
        }
        .users_cards_wrapper{
            flex-wrap: wrap;
            gap:10px;
            justify-content: space-between;
        }
    
        .users_card_item{
            width: 47%;
            padding-bottom: 20px;

            .user_card_title{
                font-size: 12px;
            }
        
            .user_card_value{
                font-size: 16px;
            }
        }

        .users_table_headers_wrapper{
            width: 700px;
        }

        .pagination_wrapper{
            .pagination_right_section{
                gap: 5px;
            }

            .pagination_left_section{
                margin-top: -3px;

                .pagination_left_section_text{
                    font-size: 11px;
                    padding-top: 4px;
                }
            }
        }
    }
    
}

@media (max-width: 999px){

    .user_details_wrapper{
        padding: 20px;


        .header_wrapper{
            justify-content: flex-start;
            flex-wrap:wrap;
            margin-top: 32px;
    
            .header_left{
                font-size: 18px;
                font-weight: 500;
                color: base.$primary-font-color;
            }
    
            .header_right_wrapper{
                display: flex;
                gap:10px;
                margin-top: 10px;
            }
        }

        .profile_card_wrapper{
            .profile_upper{
                flex-direction: column;
                gap: 5px;

                .profile_upper_divider{
                    display: none;
                }
            }

            .profile_lower{
                overflow: auto;
                margin-top: 30px;
            }
        }
        
        .profile_lower{
            
            & div{
                font-size:14px;
                padding-bottom: 2px;
            }

            .profile_lower_active{
                border-bottom: 2px solid base.$primary-color;
                color: base.$primary-color;
            }
        }
    }
    
}



