@use "base";

.sidebar_wrapper{
    padding-top: 40px;
}

.sidebar_switch{
    padding: 5px 30px 5px 30px;
    display: flex;
    font-size: 16px;
    color: #213F7D;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
}

.sidebar_dasboard{
    display: flex;
    gap:15px;
    color:#21407d83;
    margin-top: 20px;
    padding: 5px 30px 5px 30px;
}

.sidebar_icon{
    margin-top: 18px;
}

.sidebar_items_wrapper_title{
    padding-left: 30px;
    font-size: 12px;
    color:#545F7D;
    margin-top:20px;
}


.sidebar_item_wrapper{
    display: flex;
    gap: 14px;
    justify-content: flex-start;
    text-decoration: none;
    padding-left: 30px;

    .sidebar_item_icon_wrapper{
        padding-top: 10px;
    }

    .sidebar_item_title{
        font-size: 12px;
        color: #21407d54;
        font-weight: 400;
    }
}

.sidebar_item_wrapper_active{
    border-left: 3px solid base.$primary-color;
    background-color: #39cdcd0c;
    color: #213F7D;

    .sidebar_item_title{
        color: #213F7D;
    }
}
